body {
  overflow: hidden;
  background: url('../images/wood_background.jpg') no-repeat;
  background-size: auto;
  color: #FFFFFF;
  text-align: center;
}

.logo {
  width: 250px;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .logo {
    width: 300px;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .logo {
    width: 400px;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .logo {
    width: 500px;
  }
}
